.Portfolio {
  padding-top: 20px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Portfolio__nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-height: 30px;
}

@media screen and (max-width: 400px) {
  .Portfolio__nav {
    flex-wrap: wrap;
  }
}