.Logo {
  display: flex;
  align-items: center;
  min-height: 80px;
  cursor: pointer;
}

.Logo__image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  object-position: center;
}

.Logo__text {
  font-size: 48px;
  fill: #4682b4;
  font-family: ComicSansMS, Comic Sans MS, sans-serif;
}

.Logo:hover {
  .Logo__text {
    fill: crimson;
  }
}