.Card {
  width: 880px;
  margin: 3% auto;
  border-radius: 1%;
  overflow: hidden;
  background: #091A32;
  position: relative;
}

.Card__image {
  width: 100%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .9;
  display: block;
}

.Card__link {
  display: block;
  width: 100%;
  height: 100%;
}

.Card__header {
  width: 40%;
  color: #fff;
  font-family: inherit;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 1rem;
  font-weight: bold;
  letter-spacing: .7rem;
  text-decoration: none;
}

.Card__hover-block {
  box-sizing: border-box;
  background: rgba(9, 26, 50, .8);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  display: flex;
  justify-content: flex-start;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.Card__left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 5%;
  width: 40%;
}

.Card__right-column {
  color: #fff;
  text-align: justify;
  display: flex;
  align-items: center;
  line-height: 2rem;
  margin-right: 5%;
}

.Card:hover .Card__hover-block {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
